<!-- start sidebar -->
<div class="col-md-4 sidebar-wrap">
	{{> widget-newsletter}}
	{{> widget-recent-post}}
	{{> widget-tagcloud}}
	{{> widget-text}}
	{{> widget-twitter}}
</div>
<!-- end sidebar -->