<!-- replace the # with your own profile link address -->
<div class="col-md-12 social-links-wrap">
	<ul class="social-links">
		<li><a href="#"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
		<li><a href="#"><i class="fa fa-instagram"></i></a></li>
		<li><a href="/rss/"><i class="fa fa-rss"></i></a></li>
	</ul>
</div>