<!-- start widget -->
<div class="widget">
	<h4 class="title">作品</h4>
  <div class="content">
    寝ても覚めても字のことばかり考えてしまう私の作品です。</br>
    <br/>
    心を込めて書く字は必ず相手に伝わります。
  </div>
</div>
<!-- end widget -->
