<!-- start widget -->
<div class="widget">
  <div class="content">
    文字には  ひらがな    カタカナ    漢字</br>
    漢字には   楷書    行書   草書   があり、</br>
    日常的には</br>
    楷書・行書 を使います。</br>
    大人であれば少し流れを感じさせる行書が使えたら素敵ですね。</br>
    一緒に楽しみながら<a href="/kokoro-ni-nokoru-ji-penji-ressun-ni-tsuite/">勉強してみませんか</a>。
  </div>
</div>
<!-- end widget -->
