<!-- start widget -->
<div class="widget">
	<h4 class="title">字はその人を表す</h4>
  <div class="content">
    電子文字に囲まれた生活の中で、</br>
    ふと手書きの字を見た時、</br>
    何故かホッとしたことは</br>
    ありませんか？</br>
    </br>
    上手い下手は別として、</br>
    丁寧に字を書いた時</br>
    ちょっと満足感を感じたり・・。</br>
    </br>
    日常に役立つペン字を中心に</br>
    手書きを広めていきたいと</br>
    考えて<a>ペン字教室</a>を</br>
    スタートいたしました。</br>
  </div>
</div>
<!-- end widget -->
