<!-- start widget -->
<div class="widget">
	<h4 class="title">コンセプト</h4>
  <div class="content">

    パソコン・スマホなど、</br>
    誰でも持つ時代、</br>
    手紙より便利なメールがあり、</br>
    もちろん私も大いに</br>
    利用しています。</br>
</br>
    「字を書く」機会は</br>
    少なくなりましたが</br>
    それでもよく見渡すと</br>
    字を書くシーンは</br>
    まだまだたくさんあります。</br>
</br>
    書道の先生がペン字を</br>
    兼ねてしまうのではなく、</br>
    ペン字と書道を</br>
    それぞれの指導方法で</br>
    しっかり学んでいただくこと、</br>
    その上で何よりも</br>
    「字を書くことが好き」を</br>
    目指しています。</br>
  </div>
</div>
<div class="widget">
	<h4 class="title"></h4>
  <div class="content">
    <a class="btn btn-default" href="/otoi-awase/">お問い合わせ</a>
  </div>
</div>
<!-- end widget -->
