<!-- start widget -->
<div class="widget">
	<h4 class="title">さあ、始めてみませんか。</h4>
  <div class="content">
    昨日とは大きく違う今日のために</br>
    心のこもった字を書く<a>レッスン</a>を。
  </div>
</div>
<!-- end widget -->
