<!-- start widget -->
<div class="widget">
	<h4 class="title">字はその人を表す</h4>
  <div class="content">
    電子文字に囲まれた生活の中で、</br>
    ふと手書きの字を見た時、</br>
    何故かホッとしたことは</br>
    ありませんか？</br>
    </br>
    上手い下手は別として、</br>
    丁寧に字を書いた時</br>
    ちょっと満足感を感じたり・・。</br>
    </br>
    日常に大切な手書き文字を<br/>
    広めていきたいと考えて<br/>
    <a href="/kokoro-ni-nokoru-ji-ressun-ni-tsuite/">ペン字・書道教室</a>を</br>
    スタートいたしました。</br>
  </div>
</div>
<div class="widget">
	<h4 class="title"></h4>
  <div class="content">
    <a class="btn btn-default" href="/otoi-awase/">お問い合わせ</a>
  </div>
</div>
<!-- end widget -->
